<div class="container-fluid" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="/#!/"><span>NUS Module <img src="modules/core/img/brand/logo.png" width="38px" style="margin-top:-5px;"></span></a>
    </div>

    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav navbar-form">
            <li>
                <form role="search" ng-controller="SearchController" ng-submit="submit()">
                    <div class="search-wrapper">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" class="search" placeholder="Search by Module Code" ng-model="selectedModule" typeahead="mod as mod.ModuleCode for mod in modules | filter:{ModuleCode:$viewValue}" typeahead-min-length='2' typeahead-template-url="searchTemplate.html" />
                        <script type="text/ng-template" id="searchTemplate.html">
                            <a tabindex="-1" ng-href="/#!/{{match.model.ModuleCode}}">
                                <table>
                                    <tr>
                                        <td>
                                            {{match.model.ModuleCode}} {{match.model.ModuleTitle}} {{match.model.Semesters}}
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </script>
                    </div>
                </form> 
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <form class="signin form-horizontal" autocomplete="off" action="/auth/openid" method="post">
                    <button type="submit" class="btn btn-link" style="height:52px;background-color:#FF9900;color:#FFFFFF;">
                        Sign in
                        <paper-ripple fit></paper-ripple>
                    </button>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" dropdown>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                    <span data-ng-bind="authentication.user.displayName" class="signout" style="color:#FFFFFF;"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/auth/signout" class="signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>