<div class="container-fluid" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="/#!/">NUS Module Wiki</a>
    </div>

    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
 <!--        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
                    <span data-ng-bind="item.title"></span>
                    <b class="caret"></b>
                </a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
        </ul> -->

        <ul class="nav navbar-nav navbar-form">
            <li>
                <form role="search" ng-controller="SearchController" ng-submit="submit()">
                    <div class="search-wrapper">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" class="search" placeholder="Search by Module Code" ng-model="selectedModule" typeahead="mod as mod.ModuleCode for mod in modules | filter:{ModuleCode:$viewValue}" typeahead-min-length='2' typeahead-template-url="searchTemplate.html" />
                        <script type="text/ng-template" id="searchTemplate.html">
                            <a tabindex="-1" ng-href="/#!/{{match.model.ModuleCode}}">
                                <table>
                                    <tr>
                                        <td>
                                            {{match.model.ModuleCode}} {{match.model.ModuleTitle}} {{match.model.Semesters}}
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </script>
                    </div>
                </form> 
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <!-- <a href="/#!/signin" class="signin">Sign In</a> -->
                <form class="signin form-horizontal" autocomplete="off" action="/auth/openid" method="post">
                    <button type="submit" class="btn" style="height:50px;background-color:#FF9900;color:#FFFFFF;">Sign in</button>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" dropdown>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/auth/signout" class="signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>