<section data-ng-controller="HomeController">
    <div class="landing-page-top" class="container-fluid">
        <div class="container">
            <h1 class="nud-module-wiki-title">NUS MODULE WIKI</h1>
            <p class="nud-module-wiki-text">
                Your one-stop module wiki page
            </div>
        </div>
    </div>


    <div class="quote-wrapper">
        <div ng-controller="QuotesCtrl" class="text-center">
            <span class="content">{{quote.content}}</span><br>
            <span class="by">by {{quote.by}}</span>
        </div>
    </div>
</section>
