<section data-ng-controller="HomeController">
    <div id="landing-page-top" class="container-fluid">
        <div class="container">
            <h1 id="nud-module-wiki-title">NUS MODULE WIKI</h1>
            <p id="nud-module-wiki-text">
                Your one-stop module wiki page
            </div>
        </div>
    </div>

    <div id="nm-wrapper">
        <div id="page-content-wrapper" class="main-container">
            <div class="main-content container-fluid">

                
            </div>
        </div>
    </div>
</section>
