html {
	position: relative;
	height: 100%;
	overflow-x: hidden; 
}

body {
	position: relative;
	padding-top: 50px;
	height: 100%;
}

.nm-wrapper {
	padding-left: 200px;
	/*height: 100%;*/
}

.sidebar-wrapper {
	background-color: #424242;
	left: 200px;
	width: 200px;
	height: 100%;
	margin-left: -200px;
	overflow-y: auto;
	position: fixed;
	font-size: 11px;
	letter-spacing: 1px;
}

.top-nav {
	background-color: #FF9900;
}

.top-nav .icon-bar {
	background-color: #FFFFFF;
}

/* override Bootstrap default */
.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: transparent;
}

.nav .open > a {
	background-color: transparent;
}

.nav .open > a:focus {
	background-color: transparent;
}

nav.sidebar-wrapper > .nav-wrapper > ul.nav > li > a {
	color: grey;
	cursor: pointer;
	-webkit-transition: color .2s; /* Safari */
	-moz-transition: color .2s; /* Mozilla */
	-o-transition: color .2s;
	transition: color .2s;
}

nav.sidebar-wrapper > .nav-wrapper > ul.nav > li > a.active {
	background-color: #000000;
	color: #FFFFFF;
}

a.signin,
a.signout,
a.brand {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}

a.brand > span {
	font-weight: bold;
	letter-spacing: .5px;
}

.nav-wrapper {
	margin-top: 50px;
}

.navmenu-fixed-left {
	top: 0;
	border-radius: 0;
}

.search-wrapper {
	width: 400px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

input.search {
	width: 350px;
	height: 34px;
	background: #FFFFFF;
	border: none;
	font-size: 10pt;
	float: left;
	padding-left: 45px;
	border-radius: 5px;
}

.icon {
	position: absolute;
	top: 50%;
	margin-left: 10px;
	margin-top: 6px;
	z-index: 1;
	color: #4f5b66;
}

.page-content-wrapper {
	width: 100%;
}

.main-container {
	/*position: relative;*/
	padding-bottom: 265px;
}

.main-content {
	padding: 15px 15px 30px;
	position: relative;
}

.landing-page-top {
	width: 100%;
	background-color: #424242;
	padding: 100px 0;
	background-image: url(../img/bg.png);
}

.nud-module-wiki-title {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #FFFFFF;
	text-align: left;
	margin-top: 10px;
	text-shadow: 0 0 40px #000;
}

.nud-module-wiki-text {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	text-align: right;
	word-wrap: break-word;	
	margin-top: 10px;
	font-size: 1.5em;
}

.description-wrapper > .page-header:before,
.prerequisite-wrapper > .page-header:before,
.preclusion-wrapper > .page-header:before,
.past-lecturer-wrapper > .page-header:before,
.past-ta-wrapper > .page-header:before,
.fun-facts-wrapper > .page-header:before,
.projects-wrapper > .page-header:before,
.others-wrapper > .page-header:before {
	display: block; 
	content: " "; 
	margin-top: -50px; 
	height: 50px; 
	visibility: hidden; 
}

.content-right {
	min-height: 100%;
	background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	margin-top: 50px;
}

.footer-container {
	position: relative;
	bottom: 0;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: #000000;
}

.carousel {
	width: 400px;
}

.carousel-indicators {
	top: auto;
	bottom: 15px;
}

body.modal-open {
	overflow: visible;
}

.search-wrapper > .dropdown-menu {
	max-height: 200px;
	overflow-y: scroll;
}

/* for links */

.sharp {
  border-radius:0;
}

.links > ul > li > a > .btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 10px;
	text-transform: uppercase;
}

.links > ul > li > a > .btn:focus, 
.links > ul > li > a > .btn:active:focus, 
.links > ul > li > a > .btn.active:focus {
	outline: 0 none;
}

.links > ul > li > a > .btn-primary {
	background: #000000;
	color: #ffffff;
}

.links > ul > li > a > .btn-primary:hover, 
.links > ul > li > a > .btn-primary:focus, 
.links > ul > li > a > .btn-primary:active, 
.links > ul > li > a > .btn-primary.active, 
.links > ul > li > a > .open > .dropdown-toggle.btn-primary {
	background: #CCCCCC;
	color: #000000;
}

.links > ul > li > a > .btn-primary:active, 
.links > ul > li > a > .btn-primary.active {
	background: #CCCCCC;
	box-shadow: none;
}

/* end of buttons for links */

/* edit buttons */

.edit > .btn {
	padding: 10px 20px;
	border: 0 none;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border-radius: 2px;
}

.edit > .btn:focus, 
.edit > .btn:active:focus, 
.edit > .btn.active:focus {
	outline: 0 none;
}

.edit > .btn-primary {
	background: #FF9900;
	color: #ffffff;
}

.edit > .btn-primary:hover, 
.edit > .btn-primary:focus, 
.edit > .btn-primary:active, 
.edit > .btn-primary.active, 
.edit > .open > .dropdown-toggle.btn-primary {
	background: #FF993A;
}

.edit > .btn-primary:active, 
.edit > .btn-primary.active {
	background: #FF993A;
	box-shadow: none;
}

/* end of edit buttons */

.description-wrapper > .page-header,
.prerequisite-wrapper > .page-header,
.preclusion-wrapper > .page-header,
.past-lecturer-wrapper > .page-header,
.past-ta-wrapper > .page-header,
.fun-facts-wrapper > .page-header,
.projects-wrapper > .page-header,
.others-wrapper > .page-header {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.description-wrapper > .page-header > h3,
.prerequisite-wrapper > .page-header > h3,
.preclusion-wrapper > .page-header > h3,
.past-lecturer-wrapper > .page-header > h3,
.past-ta-wrapper > .page-header > h3,
.fun-facts-wrapper > .page-header > h3,
.projects-wrapper > .page-header > h3,
.others-wrapper > .page-header > h3 {
	font-size: 18px;
}

.loader-wrapper {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	position: fixed;
	left:0;
	z-index: 9999;
}

.three-dots-row-spinner {
	background-color: #FF9900;
}

.form-group .help-block {
	display: none;
}

.form-group.has-error .help-block {
	display: block;
}

.big-icon {
	font-size: 150px;
	line-height: 168px;
}

h1 {
	font-weight: 900;
	font-size: 45px;
}

h1, h2, 
.page-header {
	font-family: 'Roboto', sans-serif; 
}


/* Google Buttons */

.button {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.8em;
	background-color: #FFF;
	color: #646464;
	letter-spacing: 1px;
}

.button > paper-ripple {
	border-radius: 2px;
	overflow: hidden;
}

.button.narrow {
	width: 60px;
}

.button.home {
	background-color: #3299BB;
	color: #FFF;
}

.button.orange {
	background-color: #FF9900;
	color: #FFF;
}

.button.grey {
	background-color: #eee;
}

.button.facebook {
	background-color: #3B5998;
	color: #fff;
}

.button.blue {
	background-color: #4285f4;
	color: #fff;
}

.button.green {
	background-color: #0f9d58;
	color: #fff;
}

.button.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

.label-blue {
	color: #4285f4; 
}


md-tabs.md-default-theme.md-accent .md-header {
	background-color: #FFFFFF;
}

md-tabs.md-default-theme.md-accent md-tab:not([disabled]).active {
	color: #000000;
}

md-tabs.md-default-theme.md-accent md-tab:not([disabled]) {
	color: #FF9900;
}

md-tabs.md-default-theme md-tabs-ink-bar {
	background: #FF9900;
}

md-content.md-padding {
	padding: 0;
}

.md-tabs-content .md-tab-content {
	height: 220px;
}

.tabsdemoStaticTabs .sample md-tab-content {
	padding: 25px; 
}

.tabsdemoStaticTabs .sample .after-tabs-area > span {
	margin-top: 25px;
	padding-right: 15px;
	vertical-align: middle;
	line-height: 30px;
	height: 35px; 
}