<section data-ng-controller="WikiController">
    <div class="nm-wrapper">
        
        <!-- sidebar -->
        <nav id="sidebar-wrapper" class="navmenu-fixed-left" role="navigation">
            <div class="nav-wrapper">
                <ul class="nav">
                    <li><a href="#description">DESCRIPTION</a></li>
                    <li><a href="#prerequisite">PREREQUISITE</a></li>
                    <li><a href="#preclusion">PRECLUSION</a></li>
                    <li><a href="#past-lecturer">PAST LECTURER</a></li>
                    <li><a href="#past-ta">PAST TA</a></li>
                    <li><a href="#fun-facts">FUN FACTS</a></li>
                    <li><a href="#projects">OUTSTANDING PROJECTS</a></li>
                    <li><a href="#others">OTHERS</a></li>
                </ul>
            </div>
        </nav>
        <!-- End sidebar -->

        <div class="page-content-wrapper main-container" ng-controller="RightbarController">
            
            <div class="main-content container-fluid">

                <div class="row">
                    <div class="col-md-8" ng-repeat="mod in modules | filter:moduleTitle | limitTo:1">
                        <h1 id="module-title">{{moduleTitle}}</h1>
                        <div id="description">
                            <div class="page-header">DESCRIPTION</div>
                            {{mod.ModuleDescription}}
                        </div>
                        
                        <div id="prerequisite">
                            <div class="page-header">PREREQUISITES</div>
                            {{mod.Prerequisite}}
                        </div>

                        <div id="preclusion">
                            <div class="page-header">PRECLUSION</div>
                            {{mod.Preclusion}}
                        </div>

                        <div id="past-lecturer">
                            <div class="page-header">PAST LECTURER</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="past-ta">
                            <div class="page-header">PAST TA</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="fun-facts">
                            <div class="page-header">FUN FACTS</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="projects">
                            <div class="page-header">OUTSTANDING PROJECTS</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="others">
                            <div class="page-header">OTHERS</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div id="content-right">
                            <div ng-repeat="mod in modules | filter:moduleTitle | limitTo:1">
                                <div class="lecturers">
                                    <div class="page-header">Lecturer(s):</div>
                                    {{mod.History[0].Lecturers.toString()}} {{mod.History[1].Lecturers.toString()}}
                                </div>
                                <div class="module-credits">
                                    <div class="page-header">Module Credits:</div>
                                    {{mod.ModuleCredit}}
                                </div>
                                <div class="weekly-workload">
                                    <div class="page-header">Weekly Workload:</div>
                                    {{mod.Workload}}
                                </div>
                                <hr>
                                <div class="exam-date">
                                    <div class="page-header">Exam Date Semester 1:</div>
                                    {{mod.History[0].ExamDate | date:'medium'}}
                                    <div class="page-header">Exam Date Semester 2:</div>
                                    {{mod.History[1].ExamDate | date:'medium'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
