<section data-ng-controller="WikiController">
    <div class="nm-wrapper" ng-controller="ScrollController">

        <!-- sidebar -->
        <nav class="sidebar-wrapper navmenu-fixed-left" role="navigation" ng-controller="LeftBarCtrl">
            <div class="nav-wrapper">
                <ul class="nav" ng-repeat="link in links">
                    <li><a ng-class="{active: isActive(link.title)}" ng-click="gotoElement(link.title)">{{link.title | uppercase}}</a></li>
                </ul>
            </div>
        </nav>
        <!-- End sidebar -->

        <div class="page-content-wrapper main-container" ng-controller="MainContentCtrl">
            
            <!-- <div class="" style="background-color:yellow;height:100px;"></div> -->
            <div class="main-content container-fluid">

                <div class="row">
                    <div class="col-md-8">
                        <div ng-repeat="mod in modules | filter:{ModuleCode:moduleTitle} | limitTo:1">
                        <h1 class="module-code">{{mod.ModuleCode}}</h1>
                        <h2 class="module-title">{{mod.ModuleTitle}}</h2>
                        <div id="description" class="description-wrapper">
                            <div class="page-header"><h3>Description</h3></div>
                            {{mod.ModuleDescription}}
                        </div>
                        
                        <div id="prerequisite" class="prerequisite-wrapper">
                            <div class="page-header"><h3>Prerequisite</h3></div>
                            {{mod.Prerequisite}}
                            <span ng-if="mod.Prerequisite == null">No prerequisite</span>
                        </div>

                        <div id="preclusion" class="preclusion-wrapper">
                            <div class="page-header"><h3>Preclusion</h3></div>
                            {{mod.Preclusion}}
                            <span ng-if="mod.Preclusion == null">No preclusion</span>
                        </div>
                        </div>

                        <div id="past-lecturer" class="past-lecturer-wrapper">
                            <div class="page-header"><h3>Past Lecturer</h3></div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="past-ta" class="past-ta-wrapper">
                            <div class="page-header"><h3>Past TA</h3></div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="fun-facts" class="fun-facts-wrapper" ng-controller="FunFactsController">
                            <div class="page-header">
                                <h3>Fun Facts</h3>
                            </div>
                            
                            <p>{{content}}</p>
                            
                            <div ng-controller="CollapseController">
                                <div collapse="isCollapsed" style="margin: 5px 0;">
                                    <form ng-submit="submit()" ng-controller="FunFactsSubmitCtrl">
                                        <textarea ng-model="content" ng-model-option="{}" style="width:100%;height:200px;"></textarea>
                                        <button class="btn btn-default">Save</button>
                                    </form>
                                </div>
                                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                                    {{text}}
                                </button>
                            </div>
                        </div>

                        <div id="projects" class="projects-wrapper">
                            <div class="page-header"><h3>Outstanding Projects</h3></div>
                                <div ng-controller="CarouselDemoCtrl">
                                    <div ng-repeat="project in projects">
                                        <div class="page-header">{{project.user}}</div>
                                        <div style="float:left">
                                        <carousel interval="myInterval">
                                            <slide ng-repeat="slide in project.slides" active="slide.active">
                                                <img ng-src="{{slide.image}}" style="margin:auto;">
                                                <!-- <div class="carousel-caption"> -->
                                                    <!-- <h4>Slide {{$index}}</h4> hide index-->
                                                    <!-- <p>{{slide.text}}</p> -->
                                                <!-- </div> -->
                                            </slide>
                                        </carousel>
                                        </div>
                                        <div style="margin-left:405px;height:200px;overflow-y:scroll">{{description}}</div>
                                        <!-- <hr> -->
                                    </div>
                                </div>
                        </div>

                        <div id="others" class="others-wrapper">
                            <div class="page-header"><h3>Others</h3></div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="content-right">
                            <div class="thumbnail">
                                <img src="" alt="{{moduleTitle}} Logo">
                            </div>

                            <div class="links row" ng-controller="WikiLinksCtrl">
                                <!-- {{mod[0].code}} -->
                                <ul class="nav navbar-nav text-center" style="width:100%;">
                                    <li class="col-sm-4" ng-repeat="link in mod[0].links">
                                        <a href="{{link.href}}" style="color:black;">
                                            <i class="fa fa-{{link.title}} fa-4x"></i>
                                        </a>
                                        <!-- <div ng-controller="CollapseController">
                                            <div collapse="isCollapsed" style="margin-top:50px;">
                                                <form>
                                                    <input type="url"></input>
                                                    <button class="btn btn-default">Save</button>
                                                </form>
                                            </div>
                                            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{text}}</button>
                                        </div> -->
                                    </li>
                                </ul>
                            </div>

                            <div ng-repeat="mod in modules | filter:{ModuleCode:moduleTitle} | limitTo:1">
                                <div class="lecturers">
                                    <div class="page-header">Lecturer(s):</div>
                                    <span ng-if="semester1 = false">{{mod.History[0].Lecturers.toString()}}</span> 
                                    <span ng-if="semester2 = true">{{mod.History[1].Lecturers.toString()}}</span>
                                </div>
                                <div class="module-credits">
                                    <div class="page-header">Module Credits:</div>
                                    <span>{{mod.ModuleCredit}}</span>
                                </div>
                                <div class="weekly-workload">
                                    <div class="page-header">Weekly Workload:</div>
                                    <span>{{mod.Workload}}</span>
                                </div>
                                <div class="exam-date">
                                    <div ng-if="semester1 = false">
                                    <div class="page-header">Exam Date (Semester 1):</div>
                                    <span ng-if="mod.History[0].ExamDate != null">{{mod.History[0].ExamDate | date:'medium'}}</span>
                                    <span ng-if="mod.History[0].ExamDate == null">No exam</span>
                                    </div>

                                    <div ng-if="semester2 = true">
                                    <div class="page-header">Exam Date (Semester 2):</div>
                                    <span ng-if="mod.History[1].ExamDate != null">{{mod.History[1].ExamDate | date:'medium'}}</span>
                                    <span ng-if="mod.History[1].ExamDate == null">No exam</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
