<section data-ng-controller="WikiController" setactive>
    <div id="nm-wrapper">
        
        <!-- sidebar -->
        <nav id="sidebar-wrapper" class="navmenu-fixed-left" role="navigation">
            <div id="nav">
                <ul class="nav">
                    <li><a href="#description">DESCRIPTION</a></li>
                    <li><a href="#prerequisites">PREREQUISITES</a></li>
                    <li><a href="#preclusion">PRECLUSION</a></li>
                    <li><a href="#past-lecturer">PAST LECTURER</a></li>
                    <li><a href="#past-ta">PAST TA</a></li>
                    <li><a href="#fun-facts">FUN FACTS</a></li>
                    <li><a href="#projects">OUTSTANDING PROJECTS</a></li>
                    <li><a href="#others">OTHERS</a></li>
                </ul>
            </div>
        </nav>
        <!-- End sidebar -->

        <div id="page-content-wrapper" class="main-container">
            
            <div class="main-content container-fluid">

                <div class="row">
                    <div class="col-md-8">
                        <h1 id="module-title">{{selectedModule | json}}</h1>
                        <div id="description">
                            <div class="page-header">DESCRIPTION</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>
                        
                        <div id="prerequisites">
                            <div class="page-header">PREREQUISITES</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="preclusion">
                            <div class="page-header">PRECLUSION</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="past-lecturer">
                            <div class="page-header">PAST LECTURER</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="past-ta">
                            <div class="page-header">PAST TA</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="fun-facts">
                            <div class="page-header">FUN FACTS</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="projects">
                            <div class="page-header">OUTSTANDING PROJECTS</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>

                        <div id="others">
                            <div class="page-header">OTHERS</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div id="content-right" ng-controller="rightbar">
                            {{selectedModule.ModuleCode}}
                            <div class="row">
                                <div id="module-logo" class="col-md-12 text-center">
                                    <img src="http://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg" width="150px" height="150px">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <i class="fa fa-home fa-4x"></i>
                                
                                    <i class="fa fa-facebook-official fa-4x"></i>
                            
                                    <i class="fa fa-shield fa-4x"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="page-header text-center">Lecturer Name</div>
                                        Dr. Steven Halim
                                    </div>

                                    <div>
                                        <div class="page-header">Modular Credit (MC)</div>
                                        4 MC
                                    </div>

                                    <div>
                                        <div class="page-header">Weekly Workload</div>
                                        DAMN HEAVY
                                    </div>

                                    <div>
                                        <div class="page-header">Exam Date</div>
                                        ???
                                    </div>

                                    <div>
                                        <div class="page-header">Miscellaneous</div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis leo iaculis, lacinia tortor nec, bibendum sapien. In hac habitasse platea dictumst. Suspendisse fermentum velit et eros convallis pulvinar. Maecenas ac enim sit amet justo aliquam sollicitudin laoreet vitae enim. Cras tempor sem diam, sit amet consequat velit pharetra sed. Maecenas arcu nisi, eleifend non arcu nec, dignissim ullamcorper sem. Maecenas et volutpat eros. Phasellus pellentesque imperdiet eros eu finibus. Aliquam erat volutpat. Morbi in dignissim metus. Quisque sit amet orci hendrerit, condimentum eros et, ornare erat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
